@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';

#app {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

  --premium-start: #C8239B;
  --premium-end: #5944DF;
  --premium-border: rgba(247, 247, 247, 0.18);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.font-ibm {
  font-family: "IBM Plex Sans", sans-serif;
}

.bg-premium-gradient {
  background-image: linear-gradient(90deg,
      var(--premium-start) 7.73%,
      var(--premium-end) 95.41%);
}

.shadow-premium {
  box-shadow: 15px 15px 30px 0 rgba(239, 227, 246, 0.26);
}

.border-premium {
  border-color: var(--premium-border);
}

.text-premium-start {
  color: var(--premium-start);
}

.text-premium-end {
  color: var(--premium-end);
}